body,
html {
  height: 100%;

  
}


/* body {
  background-image: url("./images/volunteers-2654004.jpg");
  height: 100%;
  background-attachment: scroll;
  /* Center and scale the image nicely */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */ 

.parallax { 
  /* The image used */
  background-image: url("./images/volunteers-2654004.jpg");

  /* Set a specific height */
  height: 25000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .bg-img {
  The image used 

} */

.container {
  width: 960px;
  
}

.display-4   {
  font-family: "Dancing Script", cursive;
  color: #2d3436;
}

#userNameWelcome,
h1,
h2
 {

  font-family: "Dancing Script", cursive;
  color: #2d3436;
}
#jumbotron {
  background-color: #81ecec;
}


#welcome-header {
  font-size: 56px;
}

/* primary button */
.btn-submit {
  background-color: #ffeaa7;
  border-color: #ffeaa7;
  color: #2d3436;
  font-family: 'Alegreya', serif;
}

.eventNameCss {
  font-family: 'Alegreya', serif;
  font-size: 35px;
  font-weight: 300;
}

#events_div {
  background-color: #81ecec;
}

.eventDescCss{
  font-family: 'Alegreya', serif;
  font-size: 25px;
  font-weight: 150;
}

#user_att_div {
  background-color: #81ecec;
};

.dateTime {
  font-weight: 175;
}

#headingInfoBox {
  background-color: #ff8b8b;
  border-color: #ff8b8b;
  color: #2d3436; 
  font-family: 'Alegreya', serif;
  font-size: 25px;
  

}